@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .conteudo-imagem img {
        width: 100%;
    }
    .conteudo-texto {
        text-align: center;
    }
    .redes-sociais {
        width: 100%;
        justify-content: center;
        margin-top: 60px;
    }
}