html {
    font-size: 16px;
}
body {
    background:url(/src/images/bg-desktop.svg) no-repeat;
    background-color: var(--primary-color);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: auto;
   
    
}

.header {
    margin: 0px  55px;
    padding-top: 60px;
    height: 190px;
}

.header a img {
    width: 200px;
}
.container {
    display: flex;;
    width: 100%;
    justify-content: space-around;
    
    
}



.conteudo-texto {
    color: #fff;
    padding-top: 40px;
    margin-right: 170px ;
    
    
}

.conteudo-texto h1 {
    font-weight: 600;
    text-transform: capitalize;
}
.conteudo-texto p {
    margin-top: 55px;
    width: 460px;
}
.conteudo-imagem {
    margin-left: 15px;
}

.btn-register {
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 30px;
    color: var(--secondary-color);
    font-weight: 600;
    box-shadow: 2px 2px 5px rgb(33, 32, 32);
    transition: 0.3s;
}
.btn-register:hover {
    background-color: var(--secondary-color);
    color: #fff;
    
}

.redes-sociais ul {
    gap: 30px;
    font-size: 24px;
    display: flex;
    justify-content: end;
    padding-right: 200px;
    margin-top: -10px;
   
    
}
.redes-sociais a {
    color: #fff;
    transition: 0.3s;
}
.redes-sociais a:hover{
    color: var(--secondary-color);

}

